name: Tests

on:
  push:
  pull_request:

jobs:
  pytest:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version-file: .python-version
      - uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true
      - name: Sync dependencies
        run: uv sync --locked
      - name: Run tests
        run: ./.venv/bin/python -m pytest
